.headerMainCon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000080;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    /* background: linear-gradient(to right, #000080, rgb(204, 204, 233), #000080); */
    position: fixed;
    top:0;
}

.headerLogo{
    height: 30px;
    width: 30px;
}

.loginBtn{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap:4px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    justify-content: row-reverse;

}

.loginBtn svg{
    height: 22px;
    width: 22px;
}