*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homeMainCon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.homeMainContentBlock{
    width: 100%;
    padding-top: 50px;
    /* height: 100vh; */
    min-height: calc(100vh - 50px);
    overflow-y: auto;
}